/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/* 
font families


*/
/* Default preset */
*::after,
*::before,
* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: 'Fraunces', serif;
}
img {
  width: 100%;
}
p {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Global color variables */
:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --hover-color: hsl(158deg 43% 23%);
}

/* Custom Styling */
body {
  background: var(--cream);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  max-width: 600px;
  height: 450px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}
.card-left {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('../images/image-product-desktop.jpg');
  width: auto;
  background-size: cover;
  background-position: center center;
}

.card-right {
  background: var(--white);
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}
.product-catagory {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--dark-grayish-blue);
}
.product-title {
  font-size: 35px;
  color: var(--very-dark-blue);
}
.product-description {
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: var(--dark-grayish-blue);
}
.price {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.disc-cmp {
  font-size: 30px;
  font-family: 'Fraunces', serif;
  color: var(--dark-cyan);
}

.act-mrp {
  font-size: 16px;
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
}
.btn {
  padding: 10px;
  background: var(--dark-cyan);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.3s;
}
.btn:hover,
.btn:active {
  cursor: pointer;
  background: var(--hover-color);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 600px) {
  .card {
    width: 350px;
    height: 700px;
    border-radius: 15px;
    flex-direction: column;
  }
  .card-left {
    background-image: url('../images/image-product-mobile.jpg');
    background-position: center bottom;
    height: 350px;
  }
  .card-right {
    width: 350px;
  }
}
